<% layout('layout') %>
<div class="chat">
  <p class="chat__title">チャット一覧</p>
</div>
<ul class="main-list">
    <% boardList.forEach(function(boardItem) { %>
        <li class="main-list__item">
            <a href="/boards/<%= boardItem.board_id %>" class="board">
                <p class="board__title">To <%= boardItem.title %> From <%= boardItem.user_name %></p>
                <p class="board__date"><%= boardItem.user_name %> <%= boardItem.created_at %></p>
            </a>
        </li>
    <% }); %>
</ul>
<% if (typeof user !== 'undefined') { %>
    <span class="login-user"><%= user.user_name %>さんとしてログインしています</span>
<% } %>
